pygtrie
numpy
ubelt
xdoctest
sortedcontainers
tqdm
h5py
bayesian-optimization
torchvision
pandas
scikit-image
tensorboard_logger
parse
sympy
Pillow
matplotlib
pydensecrf
scipy
six
line_profiler
# onnx
# tensorboard
# opencv_python # CAREFUL, dont clobber ones that we installed
# pytorch # causing docker issues, comment out, ideally we will build this from source ourselves
